<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./scripts/mainScript.js" type="module"></script>
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <input
        type="checkbox"
        name="requests"
        id="requests"
        value="0,0,1"
      /><label for="requests">Manage Requests</label>
      <input type="checkbox" name="" id="dataAccess" value="0,1,0.5" /><label
        for="dataAccess"
        >Quick Data Access</label
      >
      <input type="checkbox" name="" id="teamInfo" value="0,1,0" /><label
        for="teamInfo"
        >Gather and Update team info</label
      >
      <input type="checkbox" name="" id="boarding" value="0,1,0" /><label
        for="boarding"
        >ON/OFF boardings</label
      >
      <input type="checkbox" name="" id="reminders" value="1,0.5,0.75" /><label
        for="reminders"
        >Set reminders</label
      >
      <input type="checkbox" name="" id="tasks" value="1,1,0" /><label
        for="tasks"
        >Assign Tasks</label
      >
      <input type="checkbox" name="" id="random" value="2,0,0" /><label
        for="random"
        >Random Lunches</label
      >
      <input type="checkbox" name="" id="ticketing" value="0,0,2" /><label
        for="ticketing"
        >Ticketing</label
      >
      <input type="checkbox" name="" id="suggestions" value="0,0,1" /><label
        for="suggestions"
        >Suggestion Box</label
      >

      <button type="submit" id="submit">Show me</button>

<div id="resultsDisplay"></div>

    </form>
  </body>
</html>
